.mobile-text {
    width: 100%;
    min-height: 150px;
    height: 150px;
    line-height: 44px;
    font-size: 44px;
}

.normal-text {
    width: 500px;
    min-height: 150px;
    height: 50px;
    font-size: 20px;
}

.text{
    font-family: "Monaco", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

div{
    margin: 10px;
}

